.next
node_modules
.local
.venv
.pytest_cache
.ruff_cache
.mypy_cache
playwright-report
test-results
pnpm-lock.yaml
uv.lock
references
packages/api-client/openapi.json
packages/api-client/src/schema.d.ts
